{% extends 'layout.twig' %}

{% block opengraph %}
<link rel="canonical" href="{{ abs_url(event_path(event, +page.index))|e }}"/>
<meta property="og:url" content="{{ abs_url(event_path(event, +page.index))|e }}"/>
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
{% set breadcrumbs = event.getPath()[:-1] %}
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb flex-nowrap" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li class="breadcrumb-item text-nowrap"><a href="{{ abs_path()|e }}">Home</a></li>
    {%~ for item in breadcrumbs %}
    <li class="breadcrumb-item text-nowrap" property="itemListElement" typeof="ListItem">
      <a href="{{ abs_path(event_path(item))|e }}" property="item" typeof="WebPage">
        <span property="name">{{ item.name|e }}</span>
      </a>
      <meta property="position" content="{{ loop.index }}"/>
    </li>
    {%~ endfor %}
    <li class="breadcrumb-item active text-truncate" aria-current="page" property="itemListElement" typeof="ListItem">
      <span property="name">{{ event.name|e }}</span>
      <meta property="position" content="{{ breadcrumbs|length + 1 }}"/>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<p class="lead">{{ block('description') }}.</p>
{% include "event/list.twig" with {'events': event} %}
{% endblock %}