{% extends 'event/layout.twig' %}

{% block title -%}
Eternium - ANB {{ event.parent.name|e }} #{{ +event.parent.parent.index }} - {{ event.name|e }} League
{%- endblock %}

{% block description -%}
ANB #{{ +event.parent.parent.index }} - {{ event.parent.name|e }} {{ event.name|e }} league leaderboards
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ event.name|e }} League" />
{{ parent() }}
{% endblock %}

{% block content %}
<h1>{{ event.name|e }} League</h1>
{{ parent() }}
{% endblock %}