{% extends 'layout.twig' %}
{% set event_url = base_url ~ '/' ~ event.getPath('/') %}

{% block title -%}
Eternium - {{ event.getTitle(true) }} Leaderboards
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ event_url|e }}/{% if page and not page.first %}{{ page.index }}.html{% endif %}"/>
{% if page %}
{% if not page.first %}
<link rel="prev" href="{{ event_url|e }}/{% if page.index > 2 %}{{ page.index - 1 }}.html{% endif %}"/>
{% endif %}
{% if not page.last %}
<link rel="next" href="{{ event_url|e }}/{{ page.index + 1 }}.html"/>
{% endif %}
{% endif %}
<meta property="og:title" content="{% if page and not page.first %}Page {{ page.index }} of {% endif %}{{ event.getTitle(true)|e }}"/>
<meta property="og:url" content="{{ event_url|e }}/{% if page and not page.first %}{{ page.index }}.html{% endif %}"/>
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
{% set breadcrumbs = event.getAncestors() %}
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li class="breadcrumb-item"><a href="{{ base_url|e }}/">Home</a></li>
    {%~ for item in breadcrumbs %}
    <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
      <a href="{{ base_url|e }}/{{ item.getPath('/')|e }}/" property="item" typeof="WebPage">
        <span property="name">{{ item.name|e }}</span>
      </a>
      <meta property="position" content="{{ loop.index }}" />
    </li>
    {%~ endfor %}
    <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
      <span property="name">{{ event.name|e }}</span>
      <meta property="position" content="{{ breadcrumbs|length + 1 }}"/>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div vocab="https://schema.org/" typeof="Event">
  <h1 property="name">{{ event.getTitle(true)|e }}</h1>
  <p class="lead" property="description">{{ block('description') }}.</p>
  <meta property="eventAttendanceMode" content="OnlineEventAttendanceMode"/>
  {%~ if event.startDate %}
  <meta property="startDate" content="{{ event.startDate|date(constant('DATE_ISO8601')) }}"/>
  <meta property="endDate" content="{{ event.endDate|date(constant('DATE_ISO8601')) }}"/>
  {%~ endif %}
  <div property="location" typeof="VirtualLocation">
    <link property="url" href="https://www.eterniumgame.com/"/>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
    {%~ for e in event %}
    {%~ include "event_card.twig" with {'event': e} %}
    {%~ endfor %}
  </div>
</div>
{% endblock %}