{% extends 'layout.twig' %}
{% set event_url = base_url ~ '/' ~ event.getPath('/') %}

{% block title -%}
{% if page and not page.first %}Page {{ page.index|e }} of {% endif %}
{{ event.getTitle(true)|e }} - {% for e in event.getAncestors()|reverse %}
{{ e.getTitle(true)|e }} - {% endfor %}
{{ parent() }}
{%- endblock %}

{% block description -%}
{{ event.getAncestors()|map(e => e.getTitle(true))|join(' ')|e }}
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ event_url|e }}{% if page and not page.first %}/{{ page.index }}.html{% endif %}"/>
{% if page %}
{% if not page.first %}
<link rel="prev" href="{{ event_url|e }}{% if page.index > 2 %}/{{ page.index - 1 }}.html{% endif %}"/>
{% endif %}
{% if not page.last %}
<link rel="next" href="{{ event_url|e }}/{{ page.index + 1 }}.html"/>
{% endif %}
{% endif %}
<meta property="og:title" content="{% if page and not page.first %}Page {{ page.index }} of {% endif %}{{ event.getTitle(true)|e }}"/>
<meta property="og:url" content="{{ event_url|e }}{% if page and not page.first %}/{{ page.index|e }}.html{% endif %}"/>
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
{% set breadcrumbs = event.getAncestors() %}
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li class="breadcrumb-item"><a href="{{ base_url|e }}/">Home</a></li>
    {%~ for e in breadcrumbs %}
    <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
      <a href="{{ base_url|e }}/{{ e.getPath('/')|e }}" property="item" typeof="WebPage">
        <span property="name">{{ e.getTitle()|e }}</span>
      </a>
      <meta property="position" content="{{ loop.index }}" />
    </li>
    {%~ endfor %}
    <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
      <span property="name">{{ event.getTitle()|e }}</span>
      <meta property="position" content="{{ breadcrumbs|length + 1 }}"/>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1>{{ event.getTitle(true)|e }}</h1>
<p class="lead">{{ block('description') }}.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%~ for e in event %}
  {%~ include "event_card.twig" with {'event': e} %}
  {%~ endfor %}
</div>
{% endblock %}