{% set event_path = path|default([])|merge([event]) %}
{% set event_stats = stats[event_path|join('.')] %}
<div class="col">
  <div class="card">
    <div class="card-header">{{ event.getType()|title|e }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ event|title|e }} <span class="badge bg-secondary">
        {{- event_stats.count|default(0) -}}
      </span></h5>
      <a class="btn btn-primary stretched-link" href="{{ base_url }}/{{ event_path|join('/') }}">More</a>
    </div>
  </div>
</div>