{% extends 'layout.twig' %}

{% block title -%}
Eternium - {{ event.getTitle(true) }} Leaderboards
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ abs_url(event_path(event, +page.index))|e }}"/>
{% if page %}
{% if not page.first %}
<link rel="prev" href="{{ abs_path(event_path(event, page.index - 1))|e }}"/>
{% endif %}
{% if not page.last %}
<link rel="next" href="{{ abs_path(event_path(event, page.index + 1))|e }}"/>
{% endif %}
{% endif %}
<meta property="og:title" content="{% if page and not page.first %}Page {{ page.index }} of {% endif %}{{ event.getTitle(true)|e }}"/>
<meta property="og:url" content="{{ abs_url(event_path(event, +page.index))|e }}"/>
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
{% set breadcrumbs = event.getAncestors() %}
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb flex-nowrap" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li class="breadcrumb-item text-nowrap"><a href="{{ abs_path()|e }}">Home</a></li>
    {%~ for item in breadcrumbs %}
    <li class="breadcrumb-item text-nowrap" property="itemListElement" typeof="ListItem">
      <a href="{{ abs_path(event_path(item))|e }}" property="item" typeof="WebPage">
        <span property="name">{{ item.name|e }}</span>
      </a>
      <meta property="position" content="{{ loop.index }}" />
    </li>
    {%~ endfor %}
    <li class="breadcrumb-item active text-truncate" aria-current="page" property="itemListElement" typeof="ListItem">
      <span property="name">{{ event.name|e }}</span>
      <meta property="position" content="{{ breadcrumbs|length + 1 }}"/>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1>{{ event.getTitle(true)|e }}</h1>
<p class="lead">{{ block('description') }}.</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%~ for e in event %}
  {%~ include "event_card.twig" with {'event': e} %}
  {%~ endfor %}
</div>
{% endblock %}