{% extends 'layout.twig' %}

{% block title -%}
{% if page and not page.first %}Page {{ page.index|e }} of {% endif %}
{{ path|map(e => e.getTitle(true))|reverse|join(' - ')|e }} - {{ parent() }}
{%- endblock %}

{% block description -%}
{{ path|slice(0, -1)|map(e => e.getTitle(true))|join(' ')|e }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{% if page and not page.first %}Page {{ page.index }} of {% endif %}{{ event.getTitle(true)|e }}"/>
<meta property="og:url" content="{{ base_url|e }}/{{ path|join('/')|e }}{% if page and not page.first %}/{{ page.index|e }}.html{% endif %}"/>
{{ parent() }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="Breadcrumb">
  <ol class="breadcrumb" vocab="https://schema.org/" typeof="BreadcrumbList">
    <li class="breadcrumb-item"><a href="{{ base_url|e }}/">Home</a></li>
    {%~ for event in path %}
    {%~ if loop.last %}
    <li class="breadcrumb-item active" aria-current="page" property="itemListElement" typeof="ListItem">
      <span property="name">{{ event.getTitle()|e }}</span>
      <meta property="position" content="{{ loop.index }}"/>
    </li>
    {%~ else %}
    <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
      <a href="{{ base_url|e }}/{{ path|slice(0, loop.index)|join('/')|e }}" property="item" typeof="WebPage">
        <span property="name">{{ event.getTitle()|e }}</span>
      </a>
      <meta property="position" content="{{ loop.index }}"/>
    </li>
    {%~ endif %}
    {%~ endfor %}
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1>{{ event.getTitle(true)|e }}</h1>
<p class="lead">{{ block('description') }}.</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%~ for e in event %}
  {%~ include "event_card.twig" with {'event': e} %}
  {%~ endfor %}
</div>
{% endblock %}