<div class="col">
  <div class="card">
    <div class="card-header">{{ event.getType() }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ event.getName(true) }} <span class="badge bg-secondary">
        {{- event.stats.length|e -}}
      </span></h5>
      <a class="btn btn-primary stretched-link" href="{{ base_url|e }}/{{ event.getPath('/')|e }}/">More</a>
    </div>
  </div>
</div>