{% extends 'layout.twig' %}
{% import 'platform.twig' as platform %}

{% block title -%}
Eternium - Leaderboards on {{ site.name }}
{%- endblock %}

{% block description -%}
Leaderboards of Eternium game events
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ abs_url()|e }}/">
<meta property="og:title" content="{{ site.name|e }}">
<meta property="og:url" content="{{ abs_url()|e }}/">
{{ parent() }}
{% endblock %}

{% block styles %}
{{ parent() }}
{{ platform.stylesheet() }}
{% endblock %}

{% block content %}
<h1>Hi, Adventurer!</h1>
<p class="lead">Here you can find Eternium leaderboards. <a rel="external" href="{{ eternium_url|e }}" target="_blank">Play Eternium</a> and watch your progress.</p>

<div id="status" class="my-4 placeholder-glow d-none">
  <div class="placeholder alert text-center text-nowrap d-block">Loading...</div>
</div>

{% if gameEvents %}
<h2 class="my-4 pt-2">Game Events</h2>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
  {% for event in gameEvents %}
  <div class="col">
    <div class="card" vocab="https://schema.org/" typeof="Event">
      <div class="card-body">
        <h5 class="card-title" property="name">{{ event.title|e }}</h5>
        <p class="card-text" property="description">{{ event.description|trim|e|replace({"\n" : '<br>'})|raw }}</p>
      </div>
      <div class="card-footer text-muted">
        {% if date(event.start_date) < date(now) %}
        <meta property="startDate" content="{{ event.start_date|date(constant('DATE_W3C')) }}">
        <small>Ends at <time datetime="{{ event.end_date|date(constant('DATE_W3C')) }}" property="endDate">{{ event.end_date|date }}</time></small>
        {% else %}
        <small>Starts at <time datetime="{{ event.start_date|date(constant('DATE_W3C')) }}" property="startDate">{{ event.start_date|date }}</time></small>
        <meta property="endDate" content="{{ event.end_date|date(constant('DATE_W3C')) }}">
        {% endif %}
      </div>
      <link rel="location" href="{{ eternium_url|e }}">
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<h2 class="my-4 pt-2">Leaderboards</h2>
{% include "event/list.twig" with {'events': events|reverse} %}
{% endblock %}

{% block scripts %}
<script type="module">{{ include('js/index.min.js')|raw }}</script>
{% endblock %}