{% extends 'layout.twig' %}

{% block title -%}
Eternium - Leaderboards on {{ site.name }}
{%- endblock %}

{% block description -%}
Leaderboards of Eternium game events
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ abs_url()|e }}/"/>
<meta property="og:title" content="{{ site.name|e }}"/>
<meta property="og:url" content="{{ abs_url()|e }}/"/>
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Hi, Adventurer!</h1>
<p class="lead">Here you can find Eternium leaderboards. <a rel="external" href="{{ eternium_url|e }}" target="_blank">Play Eternium</a> and watch your progress.</p>
<div id="status" class="alert alert-secondary text-center mb-4 d-none">Loading status...</div>

{% if gameEvents %}
<h2 class="my-4 pt-2">Game Events</h2>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
  {% for event in gameEvents %}
  <div class="col">
    <div class="card" itemscope itemtype="https://schema.org/Event">
      <div class="card-body">
        <h5 class="card-title" itemprop="name">{{ event.title|e }}</h5>
        <p class="card-text" itemprop="description">{{ event.description|nl2br }}</p>
      </div>
      <div class="card-footer text-muted">
        {% if date(event.start_date) < date(now) %}
        <meta itemprop="startDate" content="{{ event.start_date|date(constant('DATE_W3C')) }}"/>
        <small>Ends at <time datetime="{{ event.end_date|date(constant('DATE_W3C')) }}" itemprop="endDate">{{ event.end_date|date }}</time></small>
        {% else %}
        <small>Starts at <time datetime="{{ event.start_date|date(constant('DATE_W3C')) }}" itemprop="startDate">{{ event.start_date|date }}</time></small>
        <meta itemprop="endDate" content="{{ event.end_date|date(constant('DATE_W3C')) }}"/>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<h2 class="my-4 pt-2">Leaderboards</h2>
{% include "event/list.twig" with {'events': events|reverse} %}
{% endblock %}

{% block scripts %}
<script>{{ include('js/index.min.js')|raw }}</script>
{% endblock %}