{% extends 'layout.twig' %}

{% block title -%}
Eternium - Leaderboards on {{ site.name }}
{%- endblock %}

{% block description -%}
Leaderboards of Eternium game events
{%- endblock %}

{% block opengraph %}
<link rel="canonical" href="{{ abs_url()|e }}/"/>
<meta property="og:title" content="{{ site.name|e }}"/>
<meta property="og:url" content="{{ abs_url()|e }}/"/>
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Hi, Adventurer!</h1>
<p class="lead">Here you can find Eternium leaderboards. <a rel="external" href="{{ eternium_url|e }}" target="_blank">Play Eternium</a> and watch your progress.</p>
<div id="status" class="alert alert-secondary text-center mb-4 d-none">Loading status...</div>

{% include "event/list.twig" with {'events': events|reverse} %}
{% endblock %}

{% block scripts %}
<script>{{ include('js/index.min.js')|raw }}</script>
{% endblock %}