{% apply spaceless %}
<!DOCTYPE html>
<html class="h-100" lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="{{ _charset|e }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{{ site.name|e }}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}"/>
  {%~ block opengraph %}
  <meta property="og:description" content="{{ block('description') }}"/>
  <meta property="og:image" content="{{ abs_url('assets/eternium.jpg')|e }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{ site.name|e }}"/>
  {%~ endblock %}
  <link rel="manifest" href="{{ abs_path('manifest.webmanifest')|e }}"/>
  <meta name="application-name" content="{{ site.name|e }}"/>
  <meta name="theme-color" content="{{ site.theme|e }}"/>
  <link rel="icon" href="{{ abs_path('favicon.ico')|e }}" type="image/x-icon"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
</head>

<body class="d-flex flex-column bg-light h-100">
  <script src="https://www.googletagmanager.com/gtag/js?id=G-ZYYYWVGVQ1" crossorigin="anonymous" async></script>
  <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','G-ZYYYWVGVQ1')</script>
  <script src="https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js" crossorigin="anonymous" async></script>
  <script>window.ym=window.ym||function(){(ym.a=ym.a||[]).push(arguments)};ym.l=Date.now();ym(67080547,'init',{clickmap:true,trackLinks:true,accurateTrackBounce:true})</script>
  <header class="bg-dark bg-gradient sticky-top">
    <nav class="navbar navbar-expand navbar-dark">
      <div class="container-lg">
        <a class="navbar-brand" href="{{ abs_path()|e }}">{{ site.name|e }}</a>
        <ul class="navbar-nav d-none d-sm-flex mw-auto">
          <li class="nav-item">
            <a class="nav-link" rel="external" href="http://pythia.epizy.com/" target="_blank">Pythia</a>
          </li>
          {%~ for event in latest_events %}
          <li class="nav-item">
            <a class="nav-link" href="{{ abs_path(event_path(event))|e }}">{{ event.name|e }}</a>
          </li>
          {%~ endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="flex-grow-1 container-lg bg-white py-4">
    {%~ block breadcrumb %}{% endblock %}
    {%~ block content %}{% endblock %}
  </main>
  <footer class="container-lg text-center text-light bg-dark bg-gradient py-4">© 2020–{{ 'now'|date('Y') }} {{ site.name|e }}</footer>
</body>

</html>
{% endapply %}