{% extends 'event/layout.twig' %}
{% import 'flag.twig' as flag %}
{% import 'platform.twig' as platform %}

{% set parent_event = include("event/leaderboard/#{event.parent.type}.twig", {event: event.parent}) %}

{% block title -%}
Eternium - {{ parent_event|e }} - {{ event.name|e }} Leaderboard{% if not page.first %} - Page {{ +page.index }}{% endif %}
{%- endblock %}

{% block description -%}
{% if page.first -%}
Top {{ +page.range.length }}
{%- else -%}
{{ +page.range.offset }}-{{ page.range.offset0 + page.range.length }}
{%- endif %} {{ event.name|lower|e }} of {{ parent_event|e }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ event.name|e }} Leaderboard">
{% if not page.first %}
<link rel="prev" href="{{ abs_path(event_path(event, page.index - 1))|e }}">
{% endif %}
{% if not page.last %}
<link rel="next" href="{{ abs_path(event_path(event, page.index + 1))|e }}">
{% endif %}
{{ parent() }}
{% endblock %}

{% block styles %}
{{ parent() }}
{{ flag.stylesheet() }}
{{ platform.stylesheet() }}
{% endblock %}

{% block content %}
<h1>{{ event.name|e }} Leaderboard</h1>
<p class="lead">{{ block('description') }}. <small class="text-muted">Generated at <time datetime="{{ modified|date(constant('DATE_W3C')) }}" pubdate>{{ modified|date }}</time>.</small></p>

<ul class="nav nav-tabs flex-nowrap">
  {%~ for item in event.parent %}
  <li class="nav-item">
    {%~ if item == event %}
    <a class="nav-link text-truncate active" aria-current="page" href="{{ abs_path(event_path(item))|e }}">{{ item.name|e }}</a>
    {%~ else %}
    <a class="nav-link text-truncate" href="{{ abs_path(event_path(item))|e }}">{{ item.name|e }}</a>
    {%~ endif %}
  </li>
  {%~ endfor %}
</ul>

{% if entries %}
<div class="table-responsive">
  <table class="table table-sm table-striped text-center text-nowrap" data-leaderboard="{{ event.id|e }}">
    <caption>Rankings {{ page.range.offset }}-{{ page.range.offset0 + page.range.length }} out of {{ entries|length }}. ID: <a rel="external" href="https://eternium.netlify.app/leaderboards/{{ event.id|e }}" target="_blank">{{ event.id|e }}</a>.</caption>
    <thead class="border-1 border-top-0">
      <tr>
        <th scope="col">Rank</th>
        <th class="w-50 text-start" scope="col">Hero</th>
        <th scope="col"><abbr class="text-decoration-none" title="Champion Level">CL</abbr></th>
        <th scope="col"><abbr class="text-decoration-none" title="Average Item Level">Avg IL</abbr></th>
        <th scope="col"><abbr class="text-decoration-none" title="Trial Level">TL</abbr></th>
        <th scope="col">Time</th>
        <th scope="col">Boss&nbsp;Time</th>
        <th scope="col">Deaths</th>
      </tr>
    </thead>
    <tbody class="border-1">
      {%~ for rank, entry in page.range.slice(entries) %}
      <tr>
        <th scope="row">{{ +rank }}</th>
        <td class="text-start">
          {%- if entry.hero.title %}<span class="badge bg-primary fw-normal d-none d-sm-inline-block">{{ entry.hero.title|e }}</span> {% endif %}
          {{- entry.hero|e -}}
          {%- if entry.platform %}&nbsp;{{ platform.icon(entry.platform, 'fa-fw') }}{% endif -%}
          {%- set country = detect_country(entry.hero) -%}
          {%- if country %}&nbsp;{{ flag.icon(country, ['border', 'border-light']) }}{% endif -%}
        </td>
        <td>{{ +entry.hero.championLevel }}</td>
        <td>{{ '%.1f'|format(entry.hero.averageItemLevel) }}</td>
        <td>{{ +entry.trial.level }}</td>
        <td><time datetime="PT{{ +entry.trial.time }}S">{{ entry.trial.formatTime()|e }}</time></td>
        {% if entry.trial.bossTime %}
        <td>
          <time datetime="PT{{ +entry.trial.bossTime }}S">{{ entry.trial.formatBossTime()|e }}</time>
          {{- '&nbsp;'|raw -}}
          <small class="text-muted">{{- '%.0f'|format(entry.trial.bossTime / entry.trial.time * 100) }}%</small>
        </td>
        {% else %}
        <td>N/A</td>
        {% endif %}
        <td>{{ +entry.trial.deaths }}</td>
      </tr>
      {%~ endfor %}
    </tbody>
  </table>
</div>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {%~ if page.first %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous page">Prev</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ abs_path(event_path(event, page.index - 1))|e }}" aria-label="Previous page">Prev</a>
    </li>
    {%~ endif %}
    {%~ for p in range(1, min(page.length, 10)) %}
    {%~ if p == page.index %}
    <li class="page-item active {%~ if p > 3 %} d-none d-sm-block{% endif %}" aria-current="page">
      <a class="page-link" href="{{ abs_path(event_path(event, p))|e }}" aria-label="Page {{ p }}">{{ p }} <span class="visually-hidden">(current)</span></a>
    </li>
    {%~ else %}
    <li class="page-item {%~ if p > 3 %} d-none d-sm-block{% endif %}">
      <a class="page-link" href="{{ abs_path(event_path(event, p))|e }}" aria-label="Page {{ p }}">{{ p }}</a>
    </li>
    {%~ endif %}
    {%~ endfor %}
    {%~ if page.last %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next page">Next</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ abs_path(event_path(event, page.index + 1))|e }}" aria-label="Next page">Next</a>
    </li>
    {%~ endif %}
  </ul>
</nav>
{% else %}
<div class="alert alert-primary mt-4 text-center">No data available. ID: {{ event.id|e }}.</div>
{% endif %}
<script async src="https://comments.app/js/widget.js?3" data-comments-app-website="-q2n0P8a" data-limit="5" data-page-id="{{ event.id|e }}" data-color="212529" data-colorful="1"></script>
{% endblock %}