{% extends 'layout.twig' %}

{% block title -%}
{{ event|title }}s Leaderboard - {{ parent() }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ event|title }}s Leaderboard" />
<meta property="og:url" content="{{ base_url }}/{{ path|join('/') }}{% if not page.first %}/{{ page.index }}.html{% endif %}" />
{{ parent() }}
{% endblock %}

{% block content %}
{% set page_offset = page.index0 * page_size %}
{% set page_size = entries[page_offset:page_size]|length %}
<h1>{{ event|title }}s Leaderboard</h1>
<table class="table table-sm table-striped">
  <caption>List {{ page_offset + 1 }}-{{ page_offset + page_size }} of {{ entries|length }} entries. Updated at <time>
    {{- stats[path|join('.')].modified|date('Y-m-d\\TH:i:sP') -}}
  </time>.</caption>
  <thead>
    <th scope="col">Rank</th>
    <th scope="col">Hero</th>
    <th scope="col">CL</th>
    <th scope="col">TL</th>
    <th scope="col">Time</th>
    <th scope="col">Deaths</th>
  </thead>
  <tbody>
    {%~ for entry in entries[page.index0 * page_size:page_size] %}
    <tr>
      <th scope="row">{{ loop.index + page_offset }}</th>
      <td>{% if entry.title %}<span class="badge bg-secondary d-none d-sm-inline-block">
        {{- entry.title|e -}}
      </span> {% endif %}{{ entry.name|e }}</td>
      <td>{{ entry.clevel }}</td>
      <td>{{ entry.tlevel }}</td>
      <td>{{ entry.time|date("i:s") }}</td>
      <td>{{ entry.deaths }}</td>
    </tr>
    {%~ endfor %}
  </tbody>
</table>
<nav aria-label="Entries pagination">
  <ul class="pagination justify-content-center">
    {%~ if page.first %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ base_url }}/{{ path|join('/') }}/{{ page.index - 1 }}.html">Previous</a>
    </li>
    {%~ endif %}
    {%~ for p in range(1, min(page.length, 10)) %}
    {%~ if p == page.index %}
    <li class="page-item active d-none d-sm-block" aria-current="page">
      <a class="page-link" href="{{ base_url }}/{{ path|join('/') }}/{{ p }}.html">{{ p }} <span class="sr-only">(current)</span></a>
    </li>
    {%~ else %}
    <li class="page-item d-none d-sm-block"><a class="page-link" href="{{ base_url }}/{{ path|join('/') }}/{{ p }}.html">{{ p }}</a></li>
    {%~ endif %}
    {%~ endfor %}
    {%~ if page.last %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ base_url }}/{{ path|join('/') }}/{{ page.index + 1 }}.html">Next</a>
    </li>
    {%~ endif %}
  </ul>
</nav>
{% endblock %}