{% extends 'event_layout.twig' %}
{% set event_url = base_url ~ '/' ~ path|join('/') %}

{% block content %}
{% set page_offset = page.index0 * page_size %}
{% set page_size = entries[page_offset:page_size]|length %}
<h1>{{ event.getTitle(true)|e }}</h1>
<h2 class="lead mb-4">{{ path[:-1]|map(e => e.getTitle(true))|join(' ')|e }}</h2>
<table class="table table-sm table-striped">
  <caption>List {{ page_offset + 1 }}-{{ page_offset + page_size }} of {{ entries|length }} entries</caption>
  <thead>
    <th scope="col">Rank</th>
    <th scope="col">Hero</th>
    <th scope="col">CL</th>
    <th scope="col">TL</th>
    <th scope="col">Time</th>
    <th class="d-none d-sm-table-cell" scope="col">Deaths</th>
  </thead>
  <tbody>
    {%~ for entry in entries|slice(page.index0 * page_size, page_size) %}
    <tr>
      <th scope="row">{{ loop.index + page_offset }}</th>
      <td>{% if entry.title %}<span class="badge bg-secondary d-none d-sm-inline-block">
        {{- entry.title|e -}}
      </span> {% endif %}{{ entry.name|e }}</td>
      <td>{{ entry.level|e }}</td>
      <td>{{ entry.trial|e }}</td>
      <td><time>{{ entry.time|date("i:s")|e }}</time></td>
      <td class="d-none d-sm-table-cell">{{ entry.deaths|e }}</td>
    </tr>
    {%~ endfor %}
  </tbody>
</table>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {%~ if page.first %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Go previous page">Prev</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ event_url|e }}/{{ page.index - 1 }}.html" aria-label="Go to previous page">Prev</a>
    </li>
    {%~ endif %}
    {%~ for p in range(1, min(page.length, 10)) %}
    {%~ if p == page.index %}
    <li class="page-item active {%~ if p > 3 %} d-none d-sm-block{% endif %}" aria-current="page">
      <a class="page-link" href="{{ event_url|e }}/{{ p }}.html" aria-label="Go to page {{ p }}">{{ p }} <span class="sr-only">(current)</span></a>
    </li>
    {%~ else %}
    <li class="page-item {%~ if p > 3 %} d-none d-sm-block{% endif %}">
      <a class="page-link" href="{{ event_url|e }}/{{ p }}.html" aria-label="Go to page {{ p }}">{{ p }}</a>
    </li>
    {%~ endif %}
    {%~ endfor %}
    {%~ if page.last %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Go to next page">Next</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ event_url|e }}/{{ page.index + 1 }}.html" aria-label="Go to next page">Next</a>
    </li>
    {%~ endif %}
  </ul>
</nav>
{% endblock %}