{% extends 'event_layout.twig' %}

{% block title -%}
Eternium - {{ event.parent.getTitle(true) }} - {{ event.getTitle() }}{% if not page.first %} - Page {{ page.index }}{% endif %}
{%- endblock %}

{% block description -%}
Top {{ event.name|lower|e }} of {{ event.parent.getTitle(true)|e }}
{%- endblock %}

{% block content %}
{% set page_offset = page.index0 * page_size %}
{% set page_size = entries[page_offset:page_size]|length %}
<h1>{{ event.getTitle(true)|e }}</h1>
<p class="lead">{{ block('description') }}.</p>

<ul class="nav nav-tabs flex-nowrap">
  {%~ for item in event.parent %}
  <li class="nav-item">
    {%~ if item == event %}
    <a class="nav-link text-truncate active" aria-current="page" href="{{ base_url|e }}/{{ item.getPath('/')|e }}/">{{ item.name|e }}</a>
    {%~ else %}
    <a class="nav-link text-truncate" href="{{ base_url|e }}/{{ item.getPath('/')|e }}/">{{ item.name|e }}</a>
    {%~ endif %}
  </li>
  {%~ endfor %}
</ul>

<table class="table table-sm table-striped">
  <caption>Rankings {{ page_offset + 1 }}-{{ page_offset + page_size }} of {{ entries|length }}</caption>
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Hero</th>
      <th scope="col">CL</th>
      <th class="d-none d-sm-table-cell" scope="col">AvgGL</th>
      <th scope="col">TL</th>
      <th scope="col">Time</th>
      <th class="d-none d-sm-table-cell" scope="col">Deaths</th>
    </tr>
  </thead>
  <tbody>
    {%~ for entry in entries|slice(page.index0 * page_size, page_size) %}
    <tr>
      <th scope="row">{{ loop.index + page_offset }}</th>
      <td>{% if entry.hero.title %}<span class="badge bg-secondary d-none d-sm-inline-block">
        {{- entry.hero.title|e -}}
      </span> {% endif %}{{ entry.hero|e }}</td>
      <td>{{ entry.champion.level }}</td>
      <td class="d-none d-sm-table-cell">{{ '%.1f'|format(entry.gear.averageLevel) }}</td>
      <td>{{ entry.trial.level }}</td>
      <td><time>{{ entry.trial.time|date("i:s") }}</time></td>
      <td class="d-none d-sm-table-cell">{{ entry.trial.deaths }}</td>
    </tr>
    {%~ endfor %}
  </tbody>
</table>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {%~ if page.first %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Go previous page">Prev</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ base_url|e }}/{{ event.getPath('/')|e }}/{{ page.index - 1 }}.html" aria-label="Go to previous page">Prev</a>
    </li>
    {%~ endif %}
    {%~ for p in range(1, min(page.length, 10)) %}
    {%~ if p == page.index %}
    <li class="page-item active {%~ if p > 3 %} d-none d-sm-block{% endif %}" aria-current="page">
      <a class="page-link" href="{{ base_url|e }}/{{ event.getPath('/')|e }}/{{ p }}.html" aria-label="Go to page {{ p }}">{{ p }} <span class="sr-only">(current)</span></a>
    </li>
    {%~ else %}
    <li class="page-item {%~ if p > 3 %} d-none d-sm-block{% endif %}">
      <a class="page-link" href="{{ base_url|e }}/{{ event.getPath('/')|e }}/{{ p }}.html" aria-label="Go to page {{ p }}">{{ p }}</a>
    </li>
    {%~ endif %}
    {%~ endfor %}
    {%~ if page.last %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Go to next page">Next</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ base_url|e }}/{{ event.getPath('/')|e }}/{{ page.index + 1 }}.html" aria-label="Go to next page">Next</a>
    </li>
    {%~ endif %}
  </ul>
</nav>
{% endblock %}