{% extends 'event/layout.twig' %}

{% set parent_event = include("event/leaderboard/#{event.parent.type}.twig", {event: event.parent}) %}

{% block title -%}
Eternium - {{ parent_event|e }} - {{ event.name|e }} Leaderboard{% if not page.first %} - Page {{ +page.index }}{% endif %}
{%- endblock %}

{% block description -%}
{% if page.first -%}
Top {{ +page.range.length }}
{%- else -%}
{{ +page.range.offset }}-{{ page.range.offset0 + page.range.length }}
{%- endif %} {{ event.name|lower|e }} of {{ parent_event|e }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ event.name|e }} Leaderboard"/>
{% if not page.first %}
<link rel="prev" href="{{ abs_path(event_path(event, page.index - 1))|e }}"/>
{% endif %}
{% if not page.last %}
<link rel="next" href="{{ abs_path(event_path(event, page.index + 1))|e }}"/>
{% endif %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>{{ event.name|e }} Leaderboard</h1>
<p class="lead">{{ block('description') }}.</p>

<ul class="nav nav-tabs flex-nowrap">
  {%~ for item in event.parent %}
  <li class="nav-item">
    {%~ if item == event %}
    <a class="nav-link text-truncate active" aria-current="page" href="{{ abs_path(event_path(item))|e }}">{{ item.name|e }}</a>
    {%~ else %}
    <a class="nav-link text-truncate" href="{{ abs_path(event_path(item))|e }}">{{ item.name|e }}</a>
    {%~ endif %}
  </li>
  {%~ endfor %}
</ul>

{% if entries %}
<table class="table table-sm table-striped">
  <caption>Rankings {{ page.range.offset }}-{{ page.range.offset0 + page.range.length }} out of {{ entries|length }}</caption>
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Hero</th>
      <th scope="col"><abbr title="Champion Level">CL</abbr></th>
      <th class="d-none d-sm-table-cell" scope="col"><abbr title="Average Item Level">Avg IL</abbr></th>
      <th scope="col"><abbr title="Trial Level">TL</abbr></th>
      <th scope="col">Time</th>
      <th class="d-none d-sm-table-cell" scope="col">Deaths</th>
    </tr>
  </thead>
  <tbody>
    {%~ for rank, entry in page.range.slice(entries) %}
    <tr>
      <th scope="row">{{ rank }}</th>
      <td>{% if entry.hero.title %}<span class="badge bg-secondary d-none d-sm-inline-block">
        {{- entry.hero.title|e -}}
      </span> {% endif %}{{ entry.hero|e }}</td>
      <td>{{ entry.champion.level }}</td>
      <td class="d-none d-sm-table-cell">{{ '%.1f'|format(entry.gear.averageLevel) }}</td>
      <td>{{ entry.trial.level }}</td>
      <td><time datetime="PT{{ entry.trial.time }}S">{{ entry.trial.time|date('i:s') }}</time></td>
      <td class="d-none d-sm-table-cell">{{ entry.trial.deaths }}</td>
    </tr>
    {%~ endfor %}
  </tbody>
</table>
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {%~ if page.first %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous page">Prev</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ abs_path(event_path(event, page.index - 1))|e }}" aria-label="Previous page">Prev</a>
    </li>
    {%~ endif %}
    {%~ for p in range(1, min(page.length, 10)) %}
    {%~ if p == page.index %}
    <li class="page-item active {%~ if p > 3 %} d-none d-sm-block{% endif %}" aria-current="page">
      <a class="page-link" href="{{ abs_path(event_path(event, p))|e }}" aria-label="Page {{ p }}">{{ p }} <span class="visually-hidden">(current)</span></a>
    </li>
    {%~ else %}
    <li class="page-item {%~ if p > 3 %} d-none d-sm-block{% endif %}">
      <a class="page-link" href="{{ abs_path(event_path(event, p))|e }}" aria-label="Page {{ p }}">{{ p }}</a>
    </li>
    {%~ endif %}
    {%~ endfor %}
    {%~ if page.last %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next page">Next</a>
    </li>
    {%~ else %}
    <li class="page-item">
      <a class="page-link" href="{{ abs_path(event_path(event, page.index + 1))|e }}" aria-label="Next page">Next</a>
    </li>
    {%~ endif %}
  </ul>
</nav>
{% else %}
<div class="alert alert-primary mt-4 text-center">No data available</div>
{% endif %}
{% endblock %}