{% extends 'layout.twig' %}

{% block title -%}
{{ event|title }} League - {{ parent() }}
{%- endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ event|title }} League" />
<meta property="og:url" content="{{ base_url }}/{{ path|join('/') }}" />
{{ parent() }}
{% endblock %}

{% block content %}
<h1>{{ event|title }} League</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
  {%~ for board in event %}
  {%~ include "event_card.twig" with {'event': board} %}
  {%~ endfor %}
</div>
{% endblock %}