<item turbo="true">
  <link>{{ abs_url(event_path(event))|e }}</link>
  <turbo:content>
    <![CDATA[<header>
      {% block header %}<h1>{{ event.name|e }} Leaderboard</h1>{% endblock %}
      <menu>
        {% for e in latest_events %}<a href="{{ abs_url(event_path(e))|e }}">{{ e.name|e }}</a>{% endfor %}
      </menu>
      <div data-block="breadcrumblist">
        <a href="{{ abs_url()|e }}">Home</a>
        {% for e in event.getPath() %}<a href="{{ abs_url(event_path(e))|e }}">{{ e.name|e }}</a>{% endfor %}
      </div>
    </header>
    <main>
    {% if entries %}
      <table data-invisible="true">
        <tr>
          <th>#</th>
          <th>Hero</th>
          <th>CL</th>
          <th>TL</th>
          <th>Time</th>
        </tr>
        {% for entry in entries %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ entry.hero|e }}</td>
          <td>{{ entry.champion.level }}</td>
          <td>{{ entry.trial.level }}</td>
          <td>{{ entry.trial.time|date('i:s') }}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <div>No data available</div>
    {% endif %}
    </main>]]>
  </turbo:content>
  <yandex:related type="infinity">
    {% block related %}
    {% for e in event.parent %}
      {% if event != e %}<link url="{{ abs_url(event_path(e))|e }}">{{ e.name|e }} Leaderboard</link>{% endif %}
    {% endfor %}
    {% endblock %}
  </yandex:related>
</item>