<div class="col">
  <div class="card h-100" vocab="https://schema.org/" typeof="Event">
    <div class="card-body">
      <h5 class="card-title" property="name">{{ event.title|e }}</h5>
      <div class="card-text" property="description">
        {% for line in event.description|split("\n") %}
          <p class="{{ loop.last ? 'mb-0' : 'mb-2' }}">{{ line|e }}</p>
        {% endfor %}
      </div>
    </div>
    {% if event.isSeason %}
      <div class="list-group list-group-flush">
        {% for id in event.leaderboards %}
          {% if leaderboards[id] %}
            <a href="{{ abs_path(event_path(leaderboards[id]))|e }}" class="list-group-item list-group-item-action">{{ leaderboards[id].name|e }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="card-footer text-muted">
      {% if date(event.start_date) < date(now) %} <meta property="startDate" content="{{ event.start_date|date(constant('DATE_W3C')) }}">
        <small>Ends at <time datetime="{{ event.end_date|date(constant('DATE_W3C')) }}" property="endDate">
          {{- event.end_date|date -}}
        </time></small>
      {% else %}
        <small>Starts at <time datetime="{{ event.start_date|date(constant('DATE_W3C')) }}" property="startDate">
          {{- event.start_date|date -}}
        </time></small>
        <meta property="endDate" content="{{ event.end_date|date(constant('DATE_W3C')) }}">
      {% endif %}
    </div>
    <meta property="eventStatus" content="EventMovedOnline">
    <meta property="eventAttendanceMode" content="OnlineEventAttendanceMode">
    <div property="location" typeof="VirtualLocation">
      <link rel="url" href="{{ eternium_url|e }}">
    </div>
  </div>
</div>